.carousel-container {
    width: 100%;   
}

.carousel-links {
    display: flex;
    justify-content: center;
}

.carousel-dot {
    background-color: #000;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    margin: 0 10px;
}

.carousel-slides {


    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;

}


.carousel-slide-img {
   

    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: white;
    
}


@media (min-width: 546px) {

    .carousel-container {
        padding-left: 15%;
    }

    .carousel-slides {
        max-width: 80%;
        width: 100%;
    }

    .carousel-links {
        margin-left: -15%;
    }
}