.habilidades {
    
    display: block;
    
    padding: 0px;    
    flex-wrap: wrap;
    max-width: 500px;
    margin:auto;
    
}

.container {
    width: 100%;
    background-color: #ddd;
    border-radius: 150px;

}

.skill {
    text-align: right;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.git {
    background-color: var(--light-color);
    animation: rellenagit 2s forwards;
    border-radius: 150px;
}

.html {
    background-color: var(--light-color);
    animation: rellenahtml 2s forwards;
    border-radius: 150px;
}
.css {
    background-color: var(--light-color);
    animation: rellenacss 2s forwards;
    border-radius: 150px;
}
.javas {
    background-color: var(--light-color);
    animation: rellenajavas 2s forwards;
    border-radius: 150px;
}
.python {
    background-color: var(--light-color);
    animation: rellenapython 2s forwards;
    border-radius: 150px;
}

.flask {
    background-color: var(--light-color);
    animation: rellenaflask 2s forwards;
    border-radius: 150px;
}
@keyframes rellenagit{
    0%{width: 0;}
    100%{width: 70%;}

}

@keyframes rellenahtml{
    0%{width: 0;}
    100%{width: 90%;}

}@keyframes rellenacss{
    0%{width: 0;}
    100%{width: 80%;}

}@keyframes rellenajavas{
    0%{width: 0;}
    100%{width: 50%;}

}@keyframes rellenapython{
    0%{width: 0;}
    100%{width: 90%;}

}@keyframes rellenaflask{
    0%{width: 0;}
    100%{width: 80%;}

}