:root {
    --dark-color: #29434e;
    --normal-color: #546e7a;
    --light-color: #819ca9;
    font-family: 'Montserrat' ;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.navbar {
    background-color: var(--dark-color);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 10px 0;
    padding: 40px 20px;
    color: #fff;
   
}

.navbar h1 {
    font-size: 15px;
    text-align: center;
    
}

.navbar a {
    text-decoration: none;
}

header img {
         
    max-width: 40%;
    height: auto;
    border-radius:180px;
    border:10px solid var(--normal-color);
    margin: 20px auto;
    
}

form { 
    padding: 50px; 
    background: var(--normal-color); 
    width: 500px; 
}
form label { 
    font-size: 14px;
    color: #FFF; 
    display: block; 
}
form .campo { 
    margin-bottom: 20px;
    width: 254px;
    height: 30px;
    border: 3px solid #84AA00;
    background: #354d8d;
    display: block;
    
}

form .radio { 
    margin-bottom: 20px;
    width: 254px;
    height: 10px;
    border: 3px solid #84AA00;
    background: #354d8d;
    display: inline-block;
}

/* queda hacer que desaparezca el @media, visto en clse 5 (1:34:42)

despues hacer la hamburguesa https://www.espai.es/blog/2020/04/como-hacer-un-menu-hamburguesa-solo-con-html-y-css/

*/
